*{
    margin: 0;
    border: 0;
}
.container{
    display: grid;
    align-items: center;
    justify-items: center;
    gap: 20px;
    grid-template-rows: 100px 1fr 100px;
    min-height: 100vh;
}
button{
    border: 2px solid;
}
.libreria{
    background-color: rgb(71, 40, 21);
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
}
.carta{
    margin: 20px;
    background-color: aliceblue;
    border: 1px solid;
    border-radius: 5px;
    padding: 10px;
}
.middle{
    min-width: 100%;
}
.middle>h3{
    text-align: center;
}