*{
    margin: 0;
    border: 0;
}
.container{
    display: grid;
    align-items: center;
    justify-items: center;
    gap: 20px;
    grid-template-rows: 1fr 1fr 1fr;
    min-height: 100vh;
}
button{
    border: 2px solid;
}
.libreria{
    background-color: aqua;
}